video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.flash-icon {
  color: #dc2626;
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.25;
  }
}
