{{define "footer"}}
</div>

<div id="footer" class="relative text-white" style="background-color: #1b1b1b">
  <div class="px-8 pt-8 md:grid md:grid-cols-2">
    <div id="contact-me" class="md:justify-self-center">
      <div class="text-2xl" style="font-weight: 400">Contact Me</div>
      <div class="pt-3 font-semibold">
        Email:
        <a href="mailto:wvandebelt82@yahoo.com" class="pl-2 font-normal text-blue-400 underline">
          wvandebelt82@yahoo.com
        </a>
      </div>
      <div class="pt-2 font-semibold lg:pt-0">
        LinkedIn:
        <a
          href="https://www.linkedin.com/in/william-vandebelt-8ab931178/"
          class="pl-2 font-normal text-blue-400 underline"
        >
          William Vandebelt
        </a>
      </div>
      <div class="pt-2 font-semibold lg:pt-0">
        Twitter:
        <a href="https://twitter.com/squillium82" class="pl-2 font-normal text-blue-400 underline">@squillium82</a>
      </div>
    </div>
    <div id="site-map" class="pt-6 pb-8 md:justify-self-center md:pt-0">
      <div class="text-2xl" style="font-weight: 400">Site Map</div>
			{{ if eq . "index" }}
      <div class="pt-3 font-semibold"><a href="#about-me" class="text-blue-400">About Me</a></div>
      <div class="pt-2 font-semibold lg:pt-0"><a href="#portfolio-title" class="text-blue-400">Portfolio</a></div>
			<div class="pt-2 font-semibold lg:pt-0"><a href="/view/blog" class="text-blue-400">Blog</a></div>
			{{ else }}
			<div class="pt-3 font-semibold"><a href="/view/index#about-me" class="text-blue-400">About Me</a></div>
      <div class="pt-2 font-semibold lg:pt-0"><a href="/view/index#portfolio-title" class="text-blue-400">Portfolio</a></div>
			<div class="pt-2 font-semibold lg:pt-0"><a href="#blog" class="text-blue-400">Blog</a></div>
			{{ end }}
    </div>
  </div>
  <div class="flex flex-wrap items-center self-end justify-center px-2 py-2 bg-black gap-4">
    <div id="made-by">Created By: William Vandebelt</div>
    <div id="website-source" class="font-semibold text-blue-400">
      <a href="https://github.com/molson82/saturn-go" target="_blank" rel="noopener">Source Code</a>
    </div>
  </div>
</div>

</body>

</html>
{{ end }}
