{{define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png" />
		<link rel="manifest" href="/static/site.webmanifest" />
		<!--<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5" />-->
    <meta name="apple-mobile-web-app-title" content="WVandebelt" />
    <meta name="application-name" content="WVandebelt" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#009DDB" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<script src="https://use.fontawesome.com/19dd8c00d7.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
		<link href="/static/dist/tailwind.css" rel="stylesheet">
		<link href="/static/css/styles.css" rel="stylesheet">
		<title>Will Vandebelt</title>
</head>
<body>
	<div id="app" style="font-family: Roboto, sans-serif;">
{{end}}
