{{define "timeline"}}

<div id="timeline-template" class="relative w-full overflow-hidden lg:w-3/4">
  <!--virticle line-->
  <div class="absolute top-0 bottom-0 w-2 bg-gray-500 rounded-md left-8 md:left-1/2"></div>
  <!--timeline card left-->
  {{template "timelineCardLeft"}}
  <!--end left timeline card-->
  <!--time card right-->
  {{template "timelineCardRight"}}
  <!--end right time card-->

  <!--timeline card left-->
  <div class="relative w-full py-5 pl-20 pr-6 md:px-10 md:w-1/2">
    <!--circle-->
    <div class="absolute z-10 bg-black rounded-full w-14 h-14 left-2 md:left-auto md:-right-8 top-4">
      <img src="/static/images/oracle_icon.png" alt="" />
    </div>
    <!--end circle-->
    <!--card content-->
    <div class="relative px-8 pt-5 pb-2 bg-white rounded-lg shadow-lg">
      <div class="text-2xl">Oracle</div>
      <div class="pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, ad dfd dsla</div>
      <div class="pt-2 text-sm text-right text-gray-500">Summer 2017</div>
    </div>
    <!--end card content-->
  </div>
  <!--end left timeline card-->
  <!--time card right-->
  <div class="relative w-full py-8 pl-12 pr-14 md:pr-10 md:w-1/2 left-8 md:left-1/2">
    <!--circle-->
    <div class="absolute z-10 bg-black rounded-full -left-6 w-14 h-14 top-7">
      <img src="/static/images/oracle_icon.png" alt="" />
    </div>
    <!--end circle-->
    <!--card content-->
    <div class="relative px-8 pt-5 pb-2 bg-white rounded-lg shadow-lg">
      <div class="text-2xl">Oracle</div>
      <div class="pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, ad dfd dsla</div>
      <div class="pt-2 text-sm text-right text-gray-500">Summer 2018</div>
    </div>
    <!--end card content-->
  </div>
  <!--end right time card-->

  <!--timeline card left-->
  <div class="relative w-full py-5 pl-20 pr-6 md:px-10 md:w-1/2">
    <!--circle-->
    <div class="absolute z-10 bg-black rounded-full w-14 h-14 left-2 md:left-auto md:-right-8 top-4">
      <img src="/static/images/purdue_icon.png" alt="" />
    </div>
    <!--end circle-->
    <!--card content-->
    <div class="relative px-8 pt-5 pb-2 bg-white rounded-lg shadow-lg">
      <div class="text-2xl">Purdue University</div>
      <div class="pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, ad dfd dsla</div>
      <div class="pt-2 text-sm text-right text-gray-500">Fall 2018</div>
    </div>
    <!--end card content-->
  </div>
  <!--end left timeline card-->
  <!--time card right-->
  <div class="relative w-full py-8 pl-12 pr-14 md:pr-10 md:w-1/2 left-8 md:left-1/2">
    <!--circle-->
    <div class="absolute z-10 rounded-full -left-6 w-14 h-14 top-7" style="background-color: #1c315f">
      <img src="/static/images/salesforce_icon.png" alt="" />
    </div>
    <!--end circle-->
    <!--card content-->
    <div class="relative px-8 pt-5 pb-2 bg-white rounded-lg shadow-lg">
      <div class="text-2xl">Salesforce</div>
      <div class="pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, ad dfd dsla</div>
      <div class="pt-2 text-sm text-right text-gray-500">Jan 2019</div>
    </div>
    <!--end card content-->
  </div>
  <!--end right time card-->

  <!--timeline card left-->
  <div class="relative w-full py-5 pl-20 pr-6 md:px-10 md:w-1/2">
    <!--circle-->
    <div
      class="absolute z-10 rounded-full w-14 h-14 left-2 md:left-auto md:-right-8 top-4"
      style="background-color: #1c315f"
    >
      <img src="/static/images/salesforce_icon.png" alt="" />
    </div>
    <!--end circle-->
    <!--card content-->
    <div class="relative px-8 pt-5 pb-2 bg-white rounded-lg shadow-lg">
      <div class="text-2xl">Salesforce</div>
      <div class="pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, ad dfd dsla</div>
      <div class="pt-2 text-sm text-right text-gray-500">Feb 2021 - Current</div>
    </div>
    <!--end card content-->
  </div>
  <!--end left timeline card-->
</div>

{{ end }}
