{{define "timeline"}}

<div id="timeline-template" class="relative w-full lg:w-3/4">
  <!--virticle line-->
  <div class="absolute top-0 bottom-0 w-2 bg-black rounded-md left-8 md:left-1/2"></div>
  <!--timeline card left-->
  <div class="relative w-full py-5 pl-20 pr-6 md:px-10 md:w-1/2">
    <!--circle-->
    <div class="absolute z-10 bg-blue-400 rounded-full w-14 h-14 left-2 md:left-auto md:-right-8 top-4"></div>
    <!--end circle-->
    <!--card content-->
    <div class="relative px-8 py-5 bg-white rounded-lg shadow-lg">
      <div class="text-2xl">2018 - Purdue University</div>
      <div class="pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, ad dfd dsla</div>
    </div>
    <!--end card content-->
  </div>
  <!--end left timeline card-->
  <!--time card right-->
  <div class="relative w-full py-8 pl-12 pr-14 md:pr-10 md:w-1/2 left-8 md:left-1/2">
    <!--circle-->
    <div class="absolute z-10 bg-blue-400 rounded-full -left-6 w-14 h-14 top-7"></div>
    <!--end circle-->
    <!--card content-->
    <div class="relative px-8 py-5 bg-white rounded-lg shadow-lg">
      <h2>2017</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ad dfd dsla</p>
    </div>
    <!--end card content-->
  </div>
  <!--end right time card-->
</div>

{{ end }}
