{{template "header"}}

<img src="/static/images/blog.jpg" alt="" />
<div
  id="blog-posts-title"
  class="flex items-center justify-center py-16 text-4xl text-white bg-black"
  style="background-image: url('/static/images/star_banner.png')"
>
  Blog Posts
</div>
<div class="flex justify-center px-6 pb-20 bg-gray-100 pt-11">
  {{range $i, $v := .BlogPosts}}
  <div class="w-full bg-white rounded-lg shadow-md grid grid-row-3 md:w-4/5" style="height: 27.25rem">
    <div class="w-full h-40 bg-black rounded-t-lg">
      <img class="rounded-t-lg" src="{{.CoverPhoto.Url}}" alt="" />
    </div>
    <div class="p-4 overflow-hidden" style="height: 14.8rem">
      <div class="text-2xl">{{ $v.Title }}</div>
      <div class="pt-4">
        {{ $v.Body }}
      </div>
    </div>
    <div class="flex items-center justify-end w-full px-4 text-sm">{{ $v.Created }}</div>
  </div>
  {{ end }}
</div>

{{template "footer" .Page}}
