{{template "header"}}
<div id="bg-video" class="absolute bg-black">
  <video playsinline autoplay muted loop>
    <source src="rocket.mp4" type="video/mp4" />
  </video>
</div>

<div
  id="name-title"
  class="relative flex flex-col items-center justify-center min-h-screen text-center"
>
  <div
    id="name"
    class="text-6xl mb-2.5"
    style="font-family: Nunito, sans-serif; font-weight: 600"
  >
    William Vandebelt
  </div>

  <div id="job-title" class="text-2xl">
    Software Engineer, Athlete, & Traveler
  </div>

  <div id="social-icons" class="flex mt-8 gap-x-6">
    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
  </div>
</div>

<div
  id="about-me"
  class="relative min-w-full px-6 text-2xl bg-white py-9 md:px-32 lg:px-48"
>
  <p class="mb-6" style="font-weight: 600"><strong>Hey!</strong></p>
  <p>
    I'm Will Vandebelt from Indianapolis IN.<br />I am an experienced full-stack
    Software Engineer skilled in JavaScript, Go/Golang, Java, Node, Scrum,
    Leadership, and more. I love the game of Ice Hockey and have been playing it
    for over 22 years.<br /><br />Feel free to contact me and look at my past
    work below.
  </p>
</div>

<div
  id="portfolio-title"
  class="relative flex flex-col items-center py-16 text-4xl text-white bg-black"
  style="background-image: url('star_banner.png')"
>
  Portfolio
</div>

<div id="portfolio-body" class="relative bg-white pt-11">
  <div
    class="text-2xl text-center"
    style="font-family: Nunito, sans-serif; font-weight: 600"
  >
    My Top Projects
  </div>
  <div
    class="flex flex-col items-center justify-center w-full px-6 pt-5 pb-5 gap-8 md:grid md:grid-cols-2 md:grid-rows-2 md:justify-items-center lg:flex lg:flex-row"
  >
    <div
      class="p-4 text-white rounded-lg shadow-md grid md:justify-self-end"
      style="background-color: #0a74db; max-width: 22rem; min-height: 27.25rem"
    >
      <div class="flex justify-center w-full h-20">
        <img width="80" src="togo_icon.png" />
      </div>
      <div class="text-xl" style="font-weight: 400">Togo</div>
      <div class="">
        Togo is a Progressive Web App (PWA) that focuses on helping users adopt
        dogs as well as keep a centralized profile about their new or existing
        dogs. Features include: Searching adopable dogs near you, finding dog
        parks near you, finding local vets, creating personal dog profiles with
        breed charts, and much more to come. The app is mobile only and still in
        active development.
      </div>
      <div
        class="flex items-center self-end justify-center mt-4 text-sm w-44 h-7 justify-self-center rounded-2xl"
        style="background-color: #4d4d4d"
      >
        <a
          href="https://stackshare.io/wvandebe/togo-dev"
          target="_blank"
          rel="noopener"
          >Project Tech Stack</a
        >
      </div>
    </div>
    <div
      class="rounded-lg shadow-md md:justify-self-start"
      style="background-color: #772ce8; width: 22rem; min-height: 27.25rem"
    >
      card
    </div>
    <div
      class="rounded-lg shadow-md md:col-span-2 lg:col-span-1"
      style="background-color: #1b4d7b; width: 22rem; min-height: 27.25rem"
    >
      card
    </div>
  </div>
</div>

<div class="h-64 bg-white">more content</div>

{{template "footer"}}
