{{template "header"}}
<div id="bg-video" class="absolute bg-black">
  <video playsinline autoplay muted loop>
    <source src="rocket.mp4" type="video/mp4" />
  </video>
</div>

<div
  id="name-title"
  class="relative flex flex-col items-center justify-center min-h-screen text-center"
>
  <div
    id="name"
    class="text-6xl mb-2.5"
    style="font-family: Nunito, sans-serif; font-weight: 600"
  >
    William Vandebelt
  </div>

  <div id="job-title" class="text-2xl" style="font-family: Roboto, sans-serif">
    Software Engineer, Athlete & Traveler
  </div>

  <div id="social-icons" class="flex mt-8 gap-x-6">
    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
  </div>
</div>

<div
  id="about-me"
  class="relative min-w-full px-6 text-2xl bg-white py-9 md:px-32 lg:px-48"
  style="font-family: Roboto, sans-serif"
>
  <p class="mb-6" style="font-weight: 600"><strong>Hey!</strong></p>
  <p>
    I'm Will Vandebelt from Indianapolis IN.<br />I am an experienced full-stack
    Software Engineer skilled in JavaScript, Go/Golang, Java, Node, Scrum,
    Leadership, and more. I love the game of Ice Hockey and have been playing it
    for over 22 years.<br /><br />Feel free to contact me and look at my past
    work below.
  </p>
</div>

<div
  id="portfolio-title"
  class="relative flex flex-col items-center py-16 text-4xl"
  style="font-family: Roboto, sans-serif"
>
  Portfolio
</div>

<div id="portfolio-body" class="relative h-40 bg-white"></div>

{{template "footer"}}
